@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  #printable-id-card, #printable-id-card * {
    visibility: visible;
  }
  #printable-id-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 350px; /* match max-w-sm roughly */
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}
